/* blog/static/blog/base.css */

html {
  height: 100%; /* uses full height of browser */
}

body {
  display: grid; /* uses CSS grid */
  background-color: #afeeee; /*light blue background */
  font-family: Arial, Helvetica, sans-serif;
  grid-template-rows: auto auto 1fr auto; /* sticky footer */
  margin: 0 auto; /* page is centered */
  max-width: 1000px; /* maximum page width */
  min-height: 100%; /* full height */
  padding: 1rem;
}

body .wrapper {
  display: grid;
  grid-template-rows: : auto auto lfr auto;
  margin: 0 auto;
  min-height: 100%;
  max-width: 1000px;
  padding: 1rem;
}
/*Messages*/

.django-messages {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0;
  list_style: none;
}

.django-messages div {
  padding: 1rem;
}

.django-messages .success {
  background: #bdfcb3;
  color: #355430;
}

/*
 * Stylises <a> tags with consistent colour for both visited and unvisited links
 * Underline visible when hovering mouse over only
 */
a {
  color: #ff0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Style the left form table label column */
form table tr th {
  max-width: 200px;
  text-align: right;
  padding: 0.5em 1em 0.5em 0;
  font-weight: 100;
}

/* Add some vertical spacing between rows */
form table tbody td {
  padding: 0.5em 0;
}

/* Style inputs */
input {
  border-radius: 0px;
  font-size: 1em;
  padding: 0.3em 0.5em;
}

/* Style button */
button {
  font-size: 1em;
  color: #000;
  cursor: pointer;
  padding: 0.5em 3em;
  border: 1px solid #999;
  background: #eee;
}

/* Style select */
select {
  font-size: 1em;
  padding: 1em;
  line-height: 1.5em;
}

/* Style error messages */
form .errorlist {
  font-size: 0.9em;
  font-weight: bold;
  color: red;
  padding: 0 0 0 1.5em;
  margin: 0;
}

/* Make the header area look pretty */
#site-header h1 {
  background-color: #ffffff; /*sets to white, haven't decided on final colour y et */
  padding: 0;
  margin: 0;
}

#site-header h2 {
  font-size: 50%;
  background-color: #ffffff; /*sets to white, haven't decided on final colour y et */
  padding: 0;
  margin: 0;
}

#site-header p {
  background-color: #ffffff; /*sets to white, haven't decided on final colour y et */
  font-size: 0.9rem;
  color: #666;
  padding: 0;
  margin: 0;
}

/* Making the top navigation bar look pretty */
#top-nav {
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 10px solid #000;
}

#top-nav ul {
  margin: 1;
  padding: 0;
}

#top-nav li {
  margin-top: 0.5rem;
  list-style-type: none;
  display: inline-block;
  padding-right: 1rem;
}

#top-nav a {
  text-decoration: underline;
  font-weight: bold;
}

/* Post preview */
.post-preview {
  border-bottom: 1px #eee solid;
}
.post-preview h2 {
  padding-bottom: 0;
  margin-bottom: 0;
}
.post-preview time {
  color: #999;
}
.post-preview section {
  margin: 1rem 0;
}

/* stylises main content */
#main-content {
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: 10px solid #000;
}

/* Stylises footer */
#site-footer {
  font-size: 0.9rem;
}
