<!-- blog/templates/blog/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "blog/base.css" %}">
  <link rel="stylesheet" href="{% static "blog/global.css" %}">
  <title>Rail Tales - {% block page_title %}The British Model Trains Blog{% endblock %}</title>
</head>

<body>
  <!-- Header -->
  <header id="site-header">
    <h1>Rail Tales</h1>
      <linebreak>
      <h2>or how I've watched too much Thomas</h2>
    <p>A blog about 18 months of Thomas the Tank Engine</p>
  </header>

  <!-- Top navigation -->
  <nav id="top-nav">
    <ul>
      <li><a href="{% url "home" %}">Home</a></li>
      <li><a href="{% url "about" %}">About</a></li>
      <li><a href="{% url "topic-list" %}">Topics</a></li>
      <li><a href="{% url "post-list" %}">Posts</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <main id="main-content">
    <!-- Addition of side bar to main body of page-->
    <aside id="sidebar">
      <section id="author-list">
        <!-- List of topics, code not working correctly for display -->
        <h3>Authors</h3>
          <ul>
            {% for author in authors %}
              <li>{{ author.get_full_name }}</li>
            {% endfor %}
          </ul>
      </section>
      <section id="topic-list">
        <!-- List of topics, code not working correctly for display -->
        <h3>What everyone wants to read:</h3>
          <ul>
            {% for topic in topics %}
              <li>{{ topic.name }} ({{ topic.topic_count }})</li>
            {% endfor %}
          </ul>
      </section>
    </aside>

    <div>
      <!-- display of blog posts in this section -->
      {% block main %}
      <!-- Content for the main block to be rendered here -->
      {% endblock %}
    </div>
  </main>

  <!-- Footer -->
  <footer id="site-footer">
    <!-- print copyright with current year -->
    Copyright &copy;{% now "Y" %} -
    <a href="{% url "terms-and-conditions" %}">Terms & Conditions</a>
  </footer>
</body>
</html>
