<!--blog/templates/blog/post_detail.html post.topics-->
{% extends "blog/base.html" %}

{% block page_title %}{{ post.title }}{% endblock %}

{% block main %}
<article id="post-detail-article">
  <h1>{{ post.title }}</h1>
  <span class="published">Published <time>{{ post.published }}</time></span><br>
  <span class="author">{{ post.author.get_full_name }}</span>
  <p>
  <span class="topic">Topics:
    {% for topic in post.topics.all %}
      <a href="{{topic.get_absolute_url}}">{{ topic }}</a>
    {% endfor %}
  </span>
  <p>
  {% if post.banner %}
    <img src="{{ post.banner.url }}" width="100%" alt="Banner image">
  {% endif %}
  <p>
  <section class="content">{{ post.content|linebreaks }}</section>
</article>
{% endblock %}
