<!--blog/templates/blog/topic_detail.html-->

{% extends "blog/base.html" %}

{% block page_title %}{{ top_topic.name }}{% endblock %}

{% block main %}
<article id="topic-detail-article">
  <h1>{{ top_topic.name }}</h1>
  <!--Display information for all accessed posts-->
  {% for post in top_topic.blogtopic.all %}
    <ul><h3>{{post.title}}</h3></ul>
    <span class="published">Published: <time>{{ post.published }}</time></span><br>
    <span class="author">Author: {{ post.author.get_full_name }}</span>
    <p>
    <section class="content">{{ post.content|linebreaks }}</section>
    <!--Forwards to actual post-->
    <p><a href="{{ post.get_absolute_url }}">Read more &rarr; </a></p>
  {% endfor %}
</article>
{% endblock %}
